<div id="content">
    <h1>О нас</h1>
    <p>- Лицензированное дополнительное образование <br>
        - Регистрация документов в ФИС ФРДО <br>
        - Профессиональная переподготовка <br>
        - Повышение квалификации <br>
        - Более 12 образовательных программ <br>
        - Сотрудничество с федеральной сетью фитнес-клубов и помощь в трудоустройстве</p>
    <p>10 лет на рынке профессионального образования</p>
    <p>30 высококвалифицированных преподавателей, которые являются действующими фитнес-инструкторами</p>
    <p>4125 успешных выпускников</p>
    <h1>Пройдя обучение, ты получишь:</h1>
    <h3>Профессиональный навык</h3>
    <p>Лучшие специалисты фитнес-индустрии передадут тебе свои теоретические знания и практические навыки. На время
        обучения выдается абонемент в фитнес-клуб.</p>
    <h3>Документ об образовании</h3>
    <p>По окончании курса выдается лицензированный документ установленного образца, позволяющий в дальнейшем вести
        тренерскую деятельность в любом спортивном учреждении на всей территории Российской Федерации.</p>
    <h3>Перспективы трудоустройства</h3>
    <p>Каждый студент, успешно прошедший обучение, имеет возможность стать частью команды фитнес-клуба. Также
        выпускники Академии Фитнеса в дальнейшем ведут свою деятельность и в других спортивных учреждениях на
        территории РФ.</p>
    <h3>Востребованная специальность</h3>
    <p>Работа в фитнес-индустрии сейчас является одной из самых престижных и востребованных. Мы поможем тебе приобрести
        новую профессию и получить финансовую независимость.</p>
</div>
