<div id="sidebar_container">
    <div class="sidebar">
        <div class="sidebar_top"></div>
        <div class="sidebar_item">
            <h3>Последние рассказы</h3>
            <h4>"Старик и море"</h4>
            <h5>1 Сентября 1952</h5>
            <p>Последний опубликованный рассказ, который называют величайшим в творчестве автора<br/>
                <a href="https://www.litres.ru/ernest-heminguey/starik-i-more-rasskazy/">Читать</a></p>
        </div>
        <div class="sidebar_base"></div>
    </div>
    <div class="sidebar">
        <div class="sidebar_top"></div>
        <div class="sidebar_item">
            <h3>Другие книги автора</h3>
            <ul>
                <li><a href="https://www.litres.ru/ernest-heminguey/po-kom-zvonit-kolokol-25254472/">
                    По ком звонит колокол</a></li>
                <li><a href="https://www.litres.ru/ernest-heminguey/problesk-istiny/">
                    Проблеск истины</a></li>
                <li><a href="https://www.litres.ru/ernest-heminguey/ostrova-i-more/">Острова и море</a></li>
                <li><a href="https://www.litres.ru/ernest-heminguey/opasnoe-leto-48770808/">Опасное лето</a></li>
            </ul>
        </div>
        <div class="sidebar_base"></div>
    </div>
</div>

