<div id="content">
    <h1>Эрнест Миллер Хемингуэй</h1>
    <p>Будущий писатель появился на свет 21 июля 1899 года в провинциальном городке Оук-Парк, в уважаемом и
        образованном семействе. Мать Эрнеста слыла весьма эксцентричной и эмоциональной женщиной, в то время как
        отец мальчика, напротив, был весьма замкнутым и суровым мужчиной. Именно он привил Эрнесту любовь к
        природе: он обучал сына тонкостям рыбной ловли, охоте, умению ориентироваться в незнакомой местности.
        В дальнейшем эти детские походы переросли в настоящую страсть к приключениям. В школе Эрнест делал
        большие успехи в спорте и английском языке. Он увлеченно занимался боксом и легкой атлетикой, играл в
        футбол. Но самым любимым его предметом была литература. Он много читал и писал статьи для школьной
        газеты, которые неизменно пользовались большой популярностью. Уже тогда юный Хемингуэй, несмотря на
        протесты родителей, твердо решил, что свяжет свою судьбу с литературой.</p>
    <p>Из краткой биографии Хемингуэя известно, что с началом Первой мировой войны он отчаянно стремился попасть
        на фронт, однако сильная травма глаза, полученная во время занятий боксом, стала тому преградой. Все же,
        Эрнест добился того, что его взяли в Красный крест в качестве шофера. Спасая раненого солдата, он попал
        под перекрестный огонь, и лишь чудом остался жив. Однако полученные многочисленные раны всю жизнь
        напоминали ему об ужасах войны, которые в дальнейшем он описал в своем романе «Прощай, оружие!».</p>
    <p>Вернувшись в 1919 году домой настоящим героем, Хемингуэю пришлось потратить год на восстановление после
        полученных травм. Затем он переехал в Канаду, где устроился на работу репортером. В 1921 году Эрнест
        перебрался в город своей мечты – Париж. Благодаря знакомству с хозяйкой книжного магазина Сильвией Бич
        ему удалось познакомиться с местной богемой. Но наибольшее влияние на него оказала встреча с
        экстравагантной Гертрудой Стайн, ставшей для него настоящим учителем. Именно она убедила молодого
        репортера завязать с журналистикой и стать писателем. Первая слава к Хемингуэю пришла в 1926 году,
        после публикации романа «И восходит солнце». Далее последовали сборники с многочисленными рассказами,
        которые также не оставили равнодушными читателей. Но наибольший успех принес роман «Прощай, оружие!»,
        в котором была описана трогательная история любви, происходившая на фоне декораций Первой мировой
        войны. Популярность романов Хемингуэя была столь высока, что его книги мгновенно раскупались даже в
        период экономического кризиса в Соединенных Штатах. Жемчужиной творчества Хемингуэя стала его повесть
        «Старик и море», за которую в 1953 году он был награжден Пулитцеровской премией. Год спустя это
        произведение, потрясшее весь литературный мир, позволило писателю получить Нобелевскую премию по
        литературе.</p>
    <p>Эрнест Хемингуэй был женат четыре раза, став отцом троих детей. Его всегда привлекали не только красивые,
        но умные и образованные женщины, в общении с которыми он черпал творческое вдохновение. На склоне лет
        Хемингуэй жестоко страдал от многих серьезных заболеваний, его преследовала депрессия в совокупности с
        паранойей. Писателю казалось, что его постоянно преследуют шпионы, и вся его жизнь отслеживается ФБР.
        Писателя пытались лечить электрошоком, однако эта методика не принесла результатов. Все чаще он
        задумывался о самоубийстве, и 2 июля 1961 года ушел из жизни, застрелившись из собственного ружья.</p>
</div>
