<div id="sidebar_container">
    <div class="sidebar">
        <div class="sidebar_top"></div>
        <div class="sidebar_item">
            <h3>Последние новости</h3>
            <h4>Набор новой группы</h4>
            <h5>30 марта 2022</h5>
            <p>Стань инструктором тренажерного зала<br/>
                <a href="#">Подробнее</a></p>
        </div>
        <div class="sidebar_base"></div>
    </div>
    <div class="sidebar">
        <div class="sidebar_top"></div>
        <div class="sidebar_item">
            <h3>Больше информации об Академии</h3>
            <ul>
                <li><a href="#">Наши преподаватели</a></li>
                <li><a href="#">Учебные программы</a></li>
                <li><a href="#">Отзывы</a></li>
            </ul>
        </div>
        <div class="sidebar_base"></div>
    </div>
</div>
