<div id="content">
    <h1>Вход</h1>
    <form action="" method="post">
        <div class="form_settings">
            <p><span>Логин</span><input class="title" for="login" input type="text" name="login"/></p>
            <p><span>Пароль</span><input class="title" for="user_pass" input type="text" name="user_pass" value=""/></p>
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="contact_submitted"
                                                                   value="submit"/></p>
        </div>
    </form>
</div>