<div id="content">
    <h1>Расписание Курсов</h1>
    <table>
        <tr class="head">
            <th></th>
            <th>Курс</th>
            <th>Преподаватель</th>
            <th>Время</th>
        </tr>
        <tr>
            <th>Понедельник</th>
            <td>Основы диетологии (Вебинарный)</td>
            <td>Смыслова Дарья</td>
            <td>14:00-17:00<br/>18:00-21:00</td>
        </tr>
        <tr>
            <th>Вторник</th>
            <td>Теория и методика<br/>групповых программ (Интерактивный)</td>
            <td>Замыслов Константин</td>
            <td>10:00-13:00<br/>15:00-18:00</td>
        </tr>
        <tr>
            <th>Среда</th>
            <td>Основы анатомии (Вебинарный)</td>
            <td>Станислав Вербицкий</td>
            <td>10:00-13:00<br/>17:00-20:00</td>
        </tr>
        <tr>
            <th>Четверг</th>
            <td>Методы и технические приемы<br/>силовой тренировки (Интерактивный)</td>
            <td>Замыслов Константин</td>
            <td>09:00-12:00<br/>15:00-18:00</td>
        </tr>
        <tr>
            <th>Пятница</th>
            <td>Базовые движения степ-аэробики<br/>и техника их выполнения (Интерактивный)</td>
            <td>Смыслова Дарья</td>
            <td>11:00-14:00<br/>17:00-20:00</td>
        </tr>
        <tr>
            <th>Суббота</th>
            <td>Понятие функционального тренинга,<br/>его особенности и виды (Интерактивный)</td>
            <td>Замыслов Константин</td>
            <td>12:00-15:00<br/>17:00-20:00</td>
        </tr>
        <tr>
            <th>Воскресенье</th>
            <td>Методы стретчинга и его влияние<br/>на организм человека (Интерактивный)</td>
            <td>Станислав Вербицкий</td>
            <td>10:00-13:00<br/>16:00-19:00</td>
        </tr>
    </table>
</div>
